<!DOCTYPE html>
{% load static %}
<html lang="en-us">
   <head>
      <title>Datatables Alternative Editor</title>
      {% block css %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/> 
      <link rel="stylesheet" href="{% static 'DataTables-1.10.18/css/jquery.dataTables.min.css'%}"/>
      <link rel="stylesheet" href="{% static '/Buttons-1.5.4/css/buttons.dataTables.min.css'%}"/>
      <link rel="stylesheet" href="{% static '/Select-1.2.6/css/select.dataTables.min.css'%}"/>
      <link rel="stylesheet" href="{% static '/Responsive-2.2.2/css/responsive.dataTables.min.css'%}"/>
      <style>
        table.dataTable tbody>tr.selected,
        table.dataTable tbody>tr>.selected {
          background-color: #A2D3F6;
        }
      </style>
       {% endblock %}
   </head>
   <body>

    <div class="container">
      <br>
      <table cellpadding="0" cellspacing="0" border="0" class="dataTable table table-striped" id="example">

      </table>
      <br>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'DataTables-1.10.18/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/altEditor/dataTables.altEditor.free.js' %}"></script>
    <script src="{% static 'Buttons-1.5.4/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'Select-1.2.6/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'Responsive-2.2.2/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/timeline.js' %}"></script>

    <script>

    </script>

   </body>
</html>
